# IntelliJ IDEA #
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

# Visual Studio Code #
.vscode/
.code-workspace
.dist

# Eclipse & Visual Studio Code #
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

# NetBeans #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# MacOS #
.DS_Store

# Compiled bytecode
*.class

# Compiled Kotlin
*.kotlin_module

# Gradle files
.gradle/
gradle/
build/
gradlew
gradlew.bat

# Local Gradle wrapper
gradle-wrapper.jar
